.inputs {
    font-size: 14px;
}
.inputs mat-error {
    font-size: 11px;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}

.title {
	width: 100%;
	align-items: center;
	text-align: center;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
	margin-bottom: 20px;
	// text-decoration: underline;
}

mat-form-field {
	width: 100%;
}

mat-hint {
	font-size: 10px;
}

.filter input{
	font-size: 11px;
}

.buttonn {
	color: #ffffff !important;
	background-color: #5d78ff !important; 
	font-size: 20px;
	height: 64% !important; 
	width: 100%;
	margin-top: 5px !important;
	margin-left: 10PX !important;
	margin-bottom: 5px !important;
}

.mat-form-field {
	// margin-left: 0px;
	font-size: 14px;
  	width: 100%;
}

.example-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

.padding-form-group {
	padding: 10px 0px 0px 5px;
}

.padding-remove {
	padding: 0px;
}