table {
    width: 100%;
}

td,
th {
    // width: 25%;
    align-items: center;
    text-align: center;
}
.inputs {
    font-size: 14px;
}
button {
    padding: 20px;
    font-size: 20px;
}
.badge-p {
    font-size: 15px; 
    font-family: Calibri; 
    // width: 60PX;
    color: #000000; 
}


.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-f {
    width: 100%;
    overflow-x: hidden;
  }
  
table {
    overflow: auto;
    overflow-x: auto;
  }

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
}
mat-hint {
    font-size: 12px;
}
